body {
	background: url(images/back.png) no-repeat center center fixed;
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	color: white;
}

h1 {
	font-family: 'Lobster', cursive;
}

h4 {

}

h6 {

}

div {

} 

input {
	width: 200px;
	border-color: transparent;
	background-color: transparent;
}

.center {
	text-align: center;
	margin: 14%;
}

.pad-sm {
	padding-bottom: 10%;
}

#pointer1 {
	cursor: pointer;
}
